<!-- Initial screen till static information was put in -->
<div ng-if="!master.current.loaded">
  <form role="form">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>Format:</label>
          <input type="text" class="form-control" placeholder="%Id;;;%Topic;" ng-model="master.current.format">
        </div>
      </div>      
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>File:</label>
          <input id="csv_issues" type="file" class="form-control" name="issues" accept="text/csv">
        </div>
      </div> 
    </div>  
    <button class="btn btn-default" ng-click="master.current.load()">Load issues</button>
  </form>  
</div>

<!-- Screen after static process was completed -->
<div ng-if="master.current.loaded">
  <div class="row">
    
  </div>
</div>
