<form role="form" class="form-inline storysetter">
  <div class="form-group">
    <label for="topic">Story:</label>
    <input type="text" class="form-control" ng-model="master.current.topic" placeholder="#4711 Create foo">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" ng-model="master.current.description" placeholder="The user can create an awesome foo">
  </div>
  <button class="btn btn-default" ng-click="master.startPoll(master.current.topic, master.current.description)">Start</button>
</form>
