<!-- Initial screen till static information was put in -->
<div ng-if="!master.current.loaded">
  <form role="form">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>Repo:</label>
          <input type="text" class="form-control" placeholder="Toxantron/scrumonline" ng-model="master.current.repo">
        </div>
      </div>      
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label><input type="checkbox" ng-model="master.current.isPrivate"> is private</label> 
        </div>
      </div>
    </div>  
    <div class="row"  ng-if="master.current.isPrivate">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>User:</label>
          <input type="text" class="form-control" ng-model="master.current.user">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" ng-model="master.current.password">
        </div>
      </div>
    </div>
    <button class="btn btn-default" ng-click="master.current.load()">Load issues</button>
  </form>  
</div>

<!-- Screen after static process was completed -->
<div ng-if="master.current.loaded">
  <div class="row">
    <div class="col-xs-4">
        <div class="list-group issue-list">
          <a  ng-repeat="issue in master.current.issues track by issue.id" class="selectable list-group-item" ng-class="{active: master.current.issue == issue}" ng-click="master.current.issue = issue">
            #{{ issue.number }}: {{ issue.title }}
          </a>
        </div>
      </div>
      <div class="col-xs-8">
        <h2>#{{ master.current.issue.number }}: {{ master.current.issue.title }}</h2>
        <p ng-bind="master.current.issue.body"></p>
        <button class="btn btn-default" ng-click="master.startPoll(master.current.issue.title)" ga-track-event="master.current.event">Start</button>
      </div>
  </div>
</div>
