<div class="row">
  <article class="col-xs-12 col-lg-10 col-lg-offset-1">

<h1>Impressum</h1>
<h2>Angaben gemäß § 5 TMG:</h2>
<p>Thomas Fuchs<br />
Kleistring 21<br />
32825 Blomberg
</p>

<h2>Kontakt:</h2>
<table>
  <tr>
    <td>Telefon:</td>
    <td>052354890140</td>
  </tr>
  <tr>
    <td>E-Mail:</td>
    <td><a href="mailto:webmaster@scrumpoker.online">webmaster@scrumpoker.online</a></td>
  </tr>
</table>

<h1>Haftungsausschluss (Disclaimer)</h1>
<p><strong>Haftung für Inhalte</strong></p> 
<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den 
  allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte 
  fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur 
  Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist 
  jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden 
  wir diese Inhalte umgehend entfernen.</p> 

<p><strong>Haftung für Links</strong></p> 
<p>Unser Angebot enthält Links zu externen Webseiten Dritter, 
  auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der 
  verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der 
  Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente 
  inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von 
  Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p> 

<h1>Datenschutzerklärung:</h1>
<p><strong>Datenschutz</strong></p> 
<p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und 
  entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p> 
<p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten 
  (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten 
  werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
<p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser 
  Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>

<p>Quelle: <em><a href="https://www.e-recht24.de">eRecht24</a></em></p>

<p><strong>Datenschutzerklärung für die Nutzung von Google Analytics</strong></p> 
<p>Durch Verwendung diese Website, wird Google Analytics eingesetzt, ein Webanalysedienst der Google LLC   (&bdquo;Google&ldquo;). Die Nutzung umfasst 
  die Betriebsart &bdquo;Universal Analytics&ldquo;. Hierdurch ist es möglich, Daten, Sitzungen und   Interaktionen über mehrere Geräte hinweg einer 
  pseudonymen User-ID zuzuordnen und so die Aktivitäten eines Nutzers geräteübergreifend zu   analysieren. Dieser Datenschutzhinweis wird zur Verfügung 
  gestellt von   <a href="https://www.intersoft-consulting.de" target="_blank">www.intersoft-consulting.de</a>.</p>
<p>Google Analytics verwendet sog. &bdquo;Cookies&ldquo;, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung 
  der Website durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen 
  Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse 
  von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen 
  Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. 
  Wir weisen Sie darauf hin, dass auf dieser Webseite Google Analytics um eine IP-Anonymisierung erweitert wurde, um eine anonymisierte Erfassung von 
  IP-Adressen (sog. IP-Masking) zu gewährleisten. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen 
  Daten von Google zusammengeführt. Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter 
  <a href="https://www.google.com/analytics/terms/de.html" target="_blank">https://www.google.com/analytics/terms/de.html</a> bzw. unter 
  <a href="https://policies.google.com/?hl=de" target="_blank">https://policies.google.com/?hl=de</a>.</p>
<p><strong>Zwecke der Verarbeitung</strong><br> 
Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die 
Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem 
Websitebetreiber zu erbringen.</p> 
<p><strong>Rechtsgrundlage</strong><br> 
Die Rechtsgrundlage für den Einsatz von Google Analytics ist Ihre Einwilligung gemäß 
<a href="https://dsgvo-gesetz.de/art-6-dsgvo/" target="_blank">Art. 6 Abs. 1 S.1 lit. a DSGVO</a>.</p> 
<p><strong>Empfänger / Kategorien von Empfängern</strong><br>Der Empfänger der erhobenen Daten ist Google.</p> 
<p><strong>Übermittlung in Drittstaaten</strong><br> 
Die personenbezogenen Daten werden unter dem EU-US Privacy Shield auf Grundlage des Angemessenheitsbeschlusses der Europäischen Kommission in die USA 
übermittelt. Das Zertifikat können Sie <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI" target="_blank">hier</a> abrufen.</p> 
<p><strong>Dauer der Datenspeicherung</strong><br> 
Die von uns gesendeten und mit Cookies, Nutzerkennungen (z. B. User-ID) oder Werbe-IDs verknüpften Daten werden nach 14 Monaten automatisch gelöscht. Die 
Löschung von Daten, deren Aufbewahrungsdauer erreicht ist, erfolgt automatisch einmal im Monat.</p> 
<p><strong>Betroffenenrechte</strong><br> 
Sie können Ihre Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen, indem Sie die Speicherung der Cookies durch eine entsprechende Einstellung 
Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website 
vollumfänglich werden nutzen können.</p>
<p>Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an 
  Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das 
  <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">Browser-Add-on</a> herunterladen und installieren. Opt-Out-Cookies verhindern 
  die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website. Um die Erfassung durch Universal Analytics über verschiedene Geräte hinweg zu 
  verhindern, müssen Sie das Opt-Out auf allen genutzten Systemen durchführen. Wenn Sie hier klicken, wird das Opt-Out-Cookie gesetzt: 
  <a href="javascript:gaOptout()"><strong>Google Analytics deaktivieren</strong></a></p>

</article>
</div>