<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <span class="session-private"><strong class="hidden-xs">Private</strong></span>
    <span class="session-list left"><strong>Name</strong></span>
    <span class="session-list center"><strong>Members</strong></span>
    <span class="session-list right"><strong>Options</strong></span>
    <div class="list-group">
      <div class="list-group-item slim" ng-repeat="session in list.sessions track by session.id">
        <div>
          <span class="session-private"><span ng-if="session.isPrivate" class="glyphicon glyphicon-lock"></span></span>
          <span class="session-list left"><strong ng-bind="session.name"></strong></span>
          <span class="session-list center"><strong ng-bind="session.memberCount"></strong></span>
          <span class="session-list right">
            <button type="button" class="btn btn-default" ng-click="list.open(session)">Open</button>
            <button type="button" class="btn btn-default" ng-click="list.join(session)">Join</button>
          </span>
        </div>
        <div ng-if="session.expanded">
          <form role="form" class="form-inline">
            <div class="form-group has-feedback" ng-class="{'has-error': session.pwdError}">
              <label for="topic">Password:</label>
              <input type="password" class="form-control" ng-model="session.password">
              <span ng-if="session.pwdError" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <button type="button" class="btn btn-default" ng-click="list.continue(session)">Continue</button>
            <button type="button" class="btn btn-default" ng-click="session.expanded = false">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
