<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <span class="session-list left"><strong>Name</strong></span>
    <span class="session-list center"><strong>Members</strong></span>
    <span class="session-list right"><strong>Private</strong></span>
    <div class="list-group">
      <div class="list-group-item" data-ng-repeat="session in sessions track by session.id">
        <div class="selectable" data-ng-click="open(session)">
          <span class="session-list left"><strong data-ng-bind="session.name"></strong></span>
          <span class="session-list center"><strong data-ng-bind="session.memberCount"></strong></span>
          <span class="session-list right" data-ng-if="session.isPrivate"><span class="glyphicon glyphicon-lock"></span></span>
        </div>
        <div data-ng-if="session.expanded">
          <form role="form" class="form-inline">
            <div class="form-group has-feedback" data-ng-class="{'has-error': session.pwdError}">
              <label for="topic">Password:</label>
              <input type="password" class="form-control" data-ng-model="session.password">
              <span data-ng-if="session.pwdError" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <button type="button" class="btn btn-default" data-ng-click="open(session, true)">Open</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
