<div class="alert alert-warning" data-ng-if="current.warning">
  <p>This feature requires CORS - either on server or client side!
    <a class="selectable" data-ng-click="current.warning = false"><span class="glyphicon glyphicon-remove"></span></a>
  </p>
</div>
<form role="form">
  <div class="form-group">
    <label for="topic">URL:</label>
    <input type="text" class="form-control" data-ng-model="current.url">
  </div>
  <div class="form-group">
    <label for="topic">Story id:</label>
    <input type="text" class="form-control" data-ng-model="current.story">
  </div>
  <button class="btn btn-default" data-ng-click="current.loadIssue()">Start</button>
</form>