/* ==========================================================================
   Scrum poker style
   ========================================================================== */
   
.selectable {
  cursor: pointer;
}

div.leave {
  top: 10px;
  left: 5px;
  height: 40px;
  width: 40px;
}

div.delete-member:hover {
  /* color:??; color is missing here */
}

/*
 * Removal styling
 */
div.removal {
  margin-top: 150px;
}