/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container-fluid.main {
    padding: 80px 10px 0px;
}
@media (min-width: 992px) {
  .container-fluid.main {
    padding: 80px 50px 0px;
  }
}
@media (min-width: 1200px) {
  .container-fluid.main {
    padding: 80px 150px 0px;
  }
}

div.row.topic {
  margin-bottom: 20px;
}

/*
 * Cards style
 */
div.card-container {
  margin-bottom: 20px;
}

div.card-container h2 {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

div.card {
  border: 2px solid black;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
div.card .inner {
  margin: -5px 5px 0;
  border-radius: 30px;
  background: #0066FF;
  text-align: center;
}

div.card .inner h1 {
  font-weight: bold;
  padding: 45px 0 45px;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  div.card .inner h1 {
    padding: 70px 0 70px;
  }
}

div.card, div.card-flip {
    height: 150px;
    width: 100px;
}
@media (min-width: 992px) {
  div.card, div.card-flip {
    height: 200px;
    width: 130px;
  }
}


/* Card flip */
div.card-overview {
  perspective: 1000;
}
div.card.front, div.card.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
div.card.back {
  transform: rotateY(180deg);
}
div.card-flip{
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
div.card-flip.flipped {
  transform: rotateY(180deg);
}

/* Selectable card */
div.card.selectable {
  cursor: pointer;
}
div.card.active {
  background: #ff3333;
}
button.vote {
  width: 100%;
}

/*
 * Session style
 */
a.list-group-item span {
  width: 30%;
  display: inline-block;
}
a.list-group-item span.left {
  text-align: left;
}
a.list-group-item span.center {
  text-align: center;
}
a.list-group-item span.right {
  text-align: right;
}
