<!-- Introduction -->
<div class="row">
  <article class="col-xs-12 col-lg-10 col-lg-offset-1">
      <h2>Scrum Online</h2>
      <p>        
        Welcome to my open source Planning Poker® web app. Use of this app is free of charge for everyone. As a scrum master just start a named session 
        and invite your team to join you. It is recommended to display the scrum master view on the big screen (TV or projector) and let everyone else 
        join via smartphone. To join a session just enter the id displayed in the heading of the scrum master view or use the QR-Code.
      </p>
  </article>
</div>


<div class="row">
  <h2 class="col-xs-12 col-lg-10 col-lg-offset-1">Create or join a session</h2>
      
  <!-- Create session panel -->
  <div class="col-xs-12 col-sm-6 col-lg-5 col-lg-offset-1">
    <create-session></create-session>
  </div>
            
  <!-- Join session panel -->
  <div class="col-xs-12 col-sm-6 col-lg-5">
    <join-session></join-session>
  </div>  
</div>